
<table border="0" cellpadding="0" cellspacing="0" style="width:50%;float:left">
		<tr>
		  <th>Symbol</th>
		  <th>Description</th>
		  <th>Currency</th>
		  <th>Stock Exchange</th>
		</tr>
		<tr>
		  <td>AAPL</td>
		  <td>Apple inc</td>
		  <td>USD</td>
		  <td>NASDAQ</td>
		</tr>
		<tr>
		  <td>AAPL</td>
		  <td>Apple inc</td>
		  <td>USD</td>
		  <td>NASDAQ</td>
		</tr>
</table>
