<br>
<br>
<br>
<section>
		<h1>Symbols</h1>
		<mw-filter></mw-filter>
		<button> <i class="fas fa-plus"></i>Add to watch list</button>
		<button> <i class="fas fa-minus"></i> Remove</button>
		<button> <i class="fas fa-save"></i> Save </button>
</section>
<br>
<mw-all-symbols></mw-all-symbols>
<mw-symbols-watch-list></mw-symbols-watch-list>
